<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishDir>C:\publish\ronblitz\</PublishDir>
    <AspNetCoreModuleName>AspNetCoreModuleV2</AspNetCoreModuleName>
  </PropertyGroup>
</Project>
